<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.app.janken.infrastructure.mapper.JankenMapper">

    <!-- 出し手一覧取得 -->
    
    <resultMap id="choiceMap" type="com.example.app.janken.domain.JankenChoice">
        <result property="roomId" column="room_id"/>
        <result property="orderNo" column="order_no"/>
        <result property="playerId" column="player_id"/>
        <result property="jankenHand" column="janken_hand"/>
    </resultMap>
    
    <select id="selectChoices" resultMap="choiceMap">
        SELECT
            room_id,
            player_id,
            order_no,
            janken_hand
        FROM
            janken_choice
        WHERE
            room_id = #{roomId}
            AND player_id = #{playerId}
        ORDER BY
            order_no ASC
    </select>

    <!-- 出し手削除 -->
    <delete id="deleteChoices">
        DELETE FROM janken_choice
        WHERE
            room_id = #{roomId}
            AND player_id = #{playerId}
    </delete>
    
     <!-- 出し手一覧登録 -->
     <insert id="insertChoices">
         INSERT INTO janken_choice (
             room_id,
             player_id,
             janken_hand,
             order_no,
             created_at
         )
         VALUES
         <foreach collection="choices" item="c" separator=",">
             (
                 #{c.roomId},
                 #{c.playerId},
                 #{c.jankenHand},
                 #{c.orderNo},
                 #{c.createdAt}
             )
         </foreach>
     </insert>

</mapper>