<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.app.room.roomuser.infrastructure.mapper.RoomUserMapper">

  <!-- 指定した roomId に紐づく全ての room_users レコードを削除 -->
  <delete id="deleteByRoomId">
    DELETE FROM room_users
    WHERE room_id = #{roomId};
  </delete>

  <!-- 指定した roomId に紐づく全ての user_id のリストを取得 -->
  <select id="selectUserIdsByRoomId" resultType="java.lang.Integer">
    SELECT user_id AS userId
    FROM room_users
    WHERE room_id = #{roomId};
  </select>
 
  <!-- RoomUserの一括登録 -->
  <insert id="insertRoomUsers">
    INSERT INTO room_users (room_id, user_id)
    VALUES
    <foreach collection="list" item="item" separator=",">
        (#{item.roomId}, #{item.userId})
    </foreach>
  </insert>

</mapper>