<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout}">

<head>
	<title>マイページ</title>
</head>

	<section layout:fragment="content">
		
		<h1>マイページ</h1>
		
		<!-- ルームの登録・更新後のメッセージ -->
		<div th:if="${roomRegisterdMessage}" class="alert alert-success">
		    <span th:text="${roomRegisterdMessage}"></span>
		</div>
		
		<!-- じゃんけんの手の登録後のメッセージ -->
		<div th:if="${jankenHandsRegisterdMessage}" class="alert alert-success">
		    <span th:text="${jankenHandsRegisterdMessage}"></span>
		</div>

		<div class="my-3">
			<a class="btn btn-primary" th:href="@{/room/registerRoomForm}">
			    ルームを作成
			</a>
		</div>
		<h3>ルーム一覧</h3>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ルーム名</th>
					<th>ゲーム種別</th>
					<th>ステータス</th>
					<th>開始日時</th>
					<th>終了日時</th>
					<th>参加</th>
					<th>対戦</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="room : ${rooms}">
					<td>
					    <a th:if="${room.isRoomMaster}"
					       th:href="@{/room/registerRoomForm?roomId={id}(id=${room.roomId})}"
					       th:text="${room.roomName}">
					    </a>
					    <span th:if="${!room.isRoomMaster}"
					          th:text="${room.roomName}">
					    </span>
					</td>
					<td>
					    <span th:text="${room.gameKind}"></span>
					    <span th:if="${room.isHandRegistered != null}"
					          th:text="${room.isHandRegistered ? '（済）' : '（未）'}"
					          th:classappend="${room.isHandRegistered == false} ? 'text-danger' : ''">
					    </span>
					</td>
					<td th:text="${room.roomStatus.getStatusLabel}"></td>
					<td th:text="${#temporals.format(room.startedDate, 'yyyy/MM/dd HH:mm')}"></td>
					<td th:text="${#temporals.format(room.endDate, 'yyyy/MM/dd HH:mm')}"></td>
					<td>
					    <a th:if="${room.isPlayer}"
					       th:href="${room.roomStatus.buildUrlOrEmpty(room.gameKind, room.roomId)}"
						   class="btn btn-sm smallBtn"
						   th:classappend="${room.roomStatus.buttonClass} + (!${room.roomStatus.clickable} ? ' disabled' : '')"
						   th:text="${room.roomStatus.buttonLabel}">参加/準備中/結果
						</a>
					</td>
					<td>
					    <a class="btn btn-sm btn-danger smallBtn battle-btn"
								th:data-room-id="${room.roomId}"
								data-bs-toggle="modal"
								data-bs-target="#battleModal">
						   対戦
						</a>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="modal fade" id="battleModal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content" id="battleModalContent">
			    	<!-- Ajax でここに読み込む -->
				</div>
			</div>
		</div>
	<!-- 
	<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#testModal">
  テストモーダル
</button>

<div class="modal fade" id="testModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">テスト</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        モーダルは動いています！
      </div>
    </div>
  </div>
</div>
	 -->
	
	</section>
	
<div layout:fragment="scripts">
	<script th:src="@{/js/mypage.js}"></script>
</div>

</html>