<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン画面</title>
</head>
<body>
    <h2>ログイン画面</h2>
	
    <form th:action="@{/login}" method="post" th:object="${loginForm}">
        <div>
            <label for="loginId">ログインID</label>
            <input type="text" id="loginId" th:field="*{loginId}" />
        </div>
        <div>
            <label for="password">パスワード</label>
            <input type="password" id="password" th:field="*{password}" />
        </div>
        <div>
            <input type="submit" value="ログイン" />
        </div>
		<span th:text="${errorMsg}"></span>
    </form>
	<a th:href="@{/register}">ユーザー登録</a>
</body>
</html>