<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout}">

<head>
	<title>マイページ</title>
</head>

	<section layout:fragment="content">

		<h1>マイページ</h1>
		<p>
			ようこそ、 <strong sec:authentication="principal.userName">ユーザー名</strong>
			さん
		</p>

		<div class="my-3">
			<a class="btn btn-primary" th:href="@{/room/registerform}">
			    ルームを作成
			</a>

		</div>
		<h3>ルーム一覧</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ルーム名</th>
					<th>ゲーム種別</th>
					<th>ステータス</th>
					<th>開始日時</th>
					<th>終了日時</th>
					<th>参加</th>
					<th>編集</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="room : ${rooms}">
					<td th:text="${room.roomName}"></td>
					<td th:text="${room.gameKind}"></td>
					<td th:text="${room.roomStatus.getStatusLabel}"></td>
					<td
						th:text="${#temporals.format(room.startedDate, 'yyyy/MM/dd HH:mm')}"></td>
					<td
						th:text="${#temporals.format(room.endDate, 'yyyy/MM/dd HH:mm')}"></td>
					<td>
					    <a th:if="${room.isPlayer}"
					       th:href="${room.roomStatus.clickable} ? ${room.roomStatus.buildUrl(room.roomId)} : ''"
						   class="btn btn-sm smallBtn"
						   th:classappend="${room.roomStatus.buttonClass} + (!${room.roomStatus.clickable} ? ' disabled' : '')"
						   th:text="${room.roomStatus.buttonLabel}">
						</a>
					</td>
					<td>
					    <a th:if="${room.isRoomMaster}"
					       th:href="@{/room/registerform?roomId={id}(id=${room.roomId})}"
					       class="btn btn-sm btn-warning smallBtn">
					        編集
					    </a>
					</td>
				</tr>
			</tbody>
		</table>

	</section>
	
</html>