<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>マイページ</title>
<link rel="stylesheet" th:href="@{/css/mypage.css}">
<link rel="stylesheet"  th:href="@{/css/common.css}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <h1>マイページ</h1>
  <div class="my-3">
    <button type="button" class="btn btn-primary" th:onclick="'location.href=\'' + @{/host}'">ルームを作成</button>
  </div>
  <h3>あなたの参加中のゲーム</h3>

  <!-- ルームが存在しない場合 -->
  <div th:if="${#lists.isEmpty(rooms)}" class="alert alert-info mt-3">
    参加中のルームはありません。
  </div>

  <!-- ルーム一覧 -->
  <table th:if="${!#lists.isEmpty(rooms)}" class="table table-striped mt-3">
    <thead>
      <tr>
        <th>ルーム名</th>
        <th>ゲームタイプ</th>
        <th>ステータス</th>
        <th>開始日時</th>
        <th>終了日時</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="room : ${rooms}">
        <td th:text="${room.roomName}"></td>
        <td th:text="${room.gameType}"></td>
        <td th:text="${room.gameStatus}"></td>
        <td th:text="${#temporals.format(room.startedDate, 'yyyy/MM/dd HH:mm')}"></td>
        <td th:text="${#temporals.format(room.endDate, 'yyyy/MM/dd HH:mm')}"></td>

        <!-- 詳細ページへ遷移する例 -->
        <td>
          <a class="btn btn-sm btn-outline-primary"
             th:href="@{/room/{id}(id=${room.roomId})}">
            詳細
          </a>
        </td>
      </tr>
    </tbody>
  </table>
    
  
</body>
</html>